@{
    ViewBag.Title = "Quem Somos";
}

<style>
    .container-adega
    {
        background-color: #190A00;
    }

    .main-content
    {
        padding-top: 0;
    }

    .container-quem-somos
    {
        /*border-left: 1px solid;
        border-right: 1px solid;*/
        /*background-color:rgba(255,255,255, .9);*/
        background-color:#D6C0A1;
        /*border-image: url("../Images/cordaInvertida.png") 25 round;*/
    }

    .lateral
    {
        background: url("../Images/catalogo/grandes/c4.png") no-repeat center;
        /*background-size: cover;*/
        height: 789px;
    }
</style>

<div style="width:813px; margin:0 auto">
    <div class="container-quem-somos">
        <div class="lateral"></div>
    </div>
</div>

